/* src/components/Player.css */

.player {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #111416;
    border-radius: 50%;
    transition: top 0.1s, left 0.1s;
  }
  