.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center cards horizontally */
    padding: 2em 1em;
    text-align: center;
  }
  .column {
    width: 100%;
    padding: 0.5em;
    max-width: 300px; /* Ensure cards have a consistent width */
  }
  h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #ffffff;
    margin-bottom: 20px; /* Add some space below the heading */
  }
  .card {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 2em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
    width: 100%;
    margin: 1em 0; /* Add some vertical margin */
  }
  .card .img-container {
    width: 8em;
    height: 8em;
    background-color: #a993ff;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 1em auto;
  }
  .card img {
    width: 100%;
    border-radius: 50%;
  }
  .card h3 {
    font-weight: 500;
  }
  .card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 1em 0;
    letter-spacing: 2px;
  }
  .icons {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
    margin: 0 0.5em;
  }
  .card:hover {
    background: linear-gradient(#6045ea, #8567f7);
    color: #ffffff;
  }
  .card:hover .img-container {
    transform: scale(1.15);
    color: white;
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .column {
      flex: 0 0 30%; /* Adjust column width for larger screens */
      max-width: 30%;
      padding: 0 1em;
    }
  }